{%extends 'main/base.html'%}

{%load static%}

{%block contents%}
{{ body|safe }}
<div class='container'>
    <h3>Edit Post</h3>
    <form method="POST" action="{% url 'board:edit' post.id%}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class='mb-3 col-md-10'>
            <label class="form-label" for="subject">subject</label>
            <input type="text" class="form-control" name ="subject" id="subject" placeholder="{{post.subject}}">
        </div>
        <div class='mb-3 col-md-10'>
            <label class="form-label" for="body">body</label>
            <textarea class="form-control" name="body" id="body" cols="30" rows="10">{{ post.body }}</textarea>
        </div>

        {% if post.image %}
        <label class="form-label" for="img-fluid">active img</label>
        <div class='mb-3 col-md-6'>
            <img class="img-fluid" src="{{ post.image.url }}" alt="Post Image">
        </div>
        {% endif %}
        <div class='mb-3 col-md-10'>
            <label class="form-label" for="image">img</label>
            <input type="file" class="form-control" name="image" id="image">
        </div>

        <button type="submit" class="btn btn-secondary">edit</button>
        <a href="{%url 'board:list'%}">
            <button type="button" class="btn btn-secondary">list</button></a>
    </form>

</div>


{%endblock%}